<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReproductorDeMusica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReproductorDeMusica.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout/Layout.css" asp-append-version="true">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <a href="/Home/Index" class="logo-link">
                <img src="/images/ripple_logo.png" alt="Artista 1" class="logo-img">
            </a>
        </div>
        @if (ViewBag.EsFormulario == null || ViewBag.EsFormulario == false)
        {
            @if (ViewBag.EstaLoggeado != null && ViewBag.EstaLoggeado == true)
            {
                <div class="search-bar">
                    <form id="searchForm" action="/Cancion/Buscar" method="GET" class="search-bar">
                        <div class="input-container">
                            <input type="text" name="titulo" placeholder="¿Qué quieres reproducir?" required>
                            <i class="fas fa-search search-icon"></i>
                        </div>
                    </form>
                    <div id="resultadosBusqueda" style="display: none; border: 1px solid #ccc; max-height: 200px; overflow-y: auto;"></div>
                </div>
                <div class="contenedor-botones">
                    <div class="usuario" id="usuarioMenu">
                        <!-- Contenedor de la imagen o iniciales -->
                        <div class="img-usuario">
                            @if (string.IsNullOrEmpty(ViewBag.ImagenUsuario))
                            {
                                <span>@ViewBag.NombreUsuario.Substring(0, 1) @ViewBag.NombreUsuario.Substring(1, 1)</span>
                            }
                            else
                            {
                                <img src="@ViewBag.ImagenUsuario" alt="Usuario" style="border-radius: 50%; width: 50px; height: 50px;">
                            }
                        </div>
                    </div>
                    <!-- Menú desplegable -->
                    <ul class="dropdown-menu" id="dropdownMenu" style="display: none;">
                        <li><a class="dropdown-item" href="/Usuario/Cuenta">Cuenta</a></li>
                        <li><a class="dropdown-item" href="/Usuario/Logout">Cerrar Sesión</a></li>
                    </ul>
                </div>

            }
            else
            {
                <div class="contenedor-botones">
                    <a href="/Usuario/RegistrarUsuario" class="span-register">Registrarse</a>
                    <span class="divider">|</span>
                    <a href="/Usuario/Login"><button class="btn-login">Iniciar Sesion</button></a>
                </div>
            }
        }
    </header>

    @if (ViewBag.EsFormulario == null || ViewBag.EsFormulario == false)
    {
        <aside class="sidebar">
            <h2>Tu bibliotecas</h2>
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <form action="/ListaReproduccion/Index" method="GET">
                                <input type="hidden" name="usuarioId" value=4 />
                                <button type="submit" class="btn btn-primary">Ver Mis Playlists</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (ViewBag.EsFormulario == null || ViewBag.EsFormulario == false)
    {
        <div id="reproductorContainer">
            <partial name="_ReproductorPartial" />
        </div>
    }
    <footer class="footer">
        <div class="footer-top">
            <div class="footer-section">
                <h4>Compañía</h4>
                <ul>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Empleo</a></li>
                    <li><a href="#">Historia</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Comunidades</h4>
                <ul>
                    <li><a href="#">Para artistas</a></li>
                    <li><a href="#">Desarrolladores</a></li>
                    <li><a href="#">Publicidad</a></li>

                </ul>
            </div>
            <div class="footer-section">
                <h4>Enlaces útiles</h4>
                <ul>
                    <li><a href="#">Asistencia</a></li>
                    <li><a href="#">App gratis</a></li>
                    <li><a href="#">Privacidad</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <a href="#"><img src="https://img.icons8.com/material-rounded/24/ffffff/facebook-new.png" alt="Facebook"></a>
                <a href="#"><img src="https://img.icons8.com/material-rounded/24/ffffff/instagram-new.png" alt="Instagram"></a>
                <a href="#"><img src="https://img.icons8.com/material-rounded/24/ffffff/twitter.png" alt="Twitter"></a>
            </div>
        </div>

        <div class="footer-bottom">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/Layout/Layout.js"> </script>
</body>
</html>
