@model ReproductorDeMusica.Web.Models.CuentaViewModel
<link rel="stylesheet" href="~/css/Usuario/Cuenta.css">

<div class="contenedor-pagina" id="body_cuenta">
    <div class="fondo-cuenta">
    <h2>Cuenta de @Model.NombreUsuario</h2>
        <div class="info-cuenta">
         <div>
            <p>Nombre: @Model.Nombre</p>
            <p>Apellido: @Model.Apellido</p>
            <p>Email: @Model.Email</p>
         </div>
         <div>
            <p>Fecha de Pago: @Model.FechaPago?.ToString("dd/MM/yyyy")</p>
            <p>Tipo de Plan: @Model.TipoPlan</p>
         </div>
      </div>
</div>


@if (ViewBag.MostrarBotonPagar)
{
    <div class="boton-pagar">
        <p>¡Hazte miembro premium para disfrutar al máximo!</p>
            <a href="/Pago/Index"><button type="button" class="btn-principal">Pagar</button></a>
        </div>
}

    @if (ViewBag.MostrarPremium)
    {
        <div class="boton-pagar">
            <p>Usted ya es usuario PREMIUM. Su suscripción finaliza el dia: @Model.FechaFinalizacionPremium</p>
        </div>
    }
